    <div class="side-nav">
        <ul class="side-nav__menu">
            <li class="side-nav__menu_item side-nav__menu_item-active">
                <a href="#" class="side-nav__menu_item_link">
                    <i class="side-nav__menu_item_link_icon"></i>
                    Apps
                </a>
            </li>
            <li class="side-nav__menu_item">
                <a href="#" class="side-nav__menu_item_link">
                    <i class="side-nav__menu_item_link_icon"></i>
                    Activity
                </a>
            </li>
            <li class="side-nav__menu_item">
                <a href="#" class="side-nav__menu_item_link">
                    <i class="side-nav__menu_item_link_icon"></i>
                    Events
                </a>
            </li>
            <li class="side-nav__menu_item">
                <a href="#" class="side-nav__menu_item_link">
                    <i class="side-nav__menu_item_link_icon"></i>
                    Reporting
                </a>
            </li>
        </ul>
    </div>
