<div class="custom-modal__content">
    <form action="" class="create-app">
        <div class="custom-modal__content__header">
            <h3 class="custom-modal__content__header-title">
                Create a new app
            </h3>
            <button class="custom-modal__content__header-close">
                <img src="../../../../../assets/images/icons/close_small@3x.svg" alt="">
            </button>
        </div>
        <div class="custom-modal__content__body">
            <div class="create-app__appname">
                <h5 class="create-app__appname-title">App name</h5>
                <input #txtAppName name="txtAppName" type="text" class="form-control create-app__appname-field" [(ngModel)]="appName">
            </div>
        </div>
        <div class="custom-modal__content__body custom-modal__content-nopadding">
            <div class="tablist tablist-justified">
                <div class="tablist__item tablist__item-2 tablist__item-text-left">
                    Select a template
                </div>
                <a href="#" class="tablist__item tablist__item-active" title="Template Applications">
                    Template Applications
                </a>
                <a href="#" class="tablist__item" title="Existing Applications">
                    Existing Applications
                </a>
                <div class="tablist__item tablist__item-2 tablist__item-text-right">
                    <img src="../../../../../assets/images/icons/search_subtle@3x.svg" alt="Search">
                </div>
            </div>
        </div>
        <div class="custom-modal__content__body custom-modal__content-nopadding custom-modal__content-separator">
            <div class="applist">
                <span *ngIf="loading">
                    <loaders-css [loader]="'ball-spin-fade-loader'" [loaderClass]="'my-loader'"></loaders-css> 
                </span>
                <div class="applist__item applist__item-empty">
                    <span class="applist__item-canvas"></span>
                    <span class="applist__item-label">
                        Blank
                    </span>
                </div>
                <div *ngFor="let app of templateApps; let i=index" class="applist__item">
                    <span class="applist__item-canvas">
                        <img src="../../../../../assets/images/app-moq-full.png" alt="img">
                    </span>
                    <span class="applist__item-label">
                        {{app.name}}
                    </span>
                </div>
                <!-- <div class="applist__item">
                    <span class="applist__item-canvas">
                        <img src="../../../../../assets/images/app-moq-full.png" alt="img">
                    </span>
                    <span class="applist__item-label">
                        Inventory Report
                    </span>
                </div>
                <div class="applist__item">
                    <span class="applist__item-canvas">
                        <img src="../../../../../assets/images/app-moq-full.png" alt="img">
                    </span>
                    <span class="applist__item-label">
                        Expense Report
                    </span>
                </div>
                <div class="applist__item">
                    <span class="applist__item-canvas">
                        <img src="../../../../../assets/images/app-moq-full.png" alt="img">
                    </span>
                    <span class="applist__item-label">
                        Lorem Ipsum
                    </span>
                </div>
                <div class="applist__item">
                    <span class="applist__item-canvas">
                        <img src="../../../../../assets/images/app-moq-full.png" alt="img">
                    </span>
                    <span class="applist__item-label">
                        Lorem Ipsum
                    </span>
                </div>
                <div class="applist__item">
                    <span class="applist__item-canvas">
                        <img src="../../../../../assets/images/app-moq-full.png" alt="img">
                    </span>
                    <span class="applist__item-label">
                        Lorem Ipsum
                    </span>
                </div>
                <div class="applist__item">
                    <span class="applist__item-canvas">
                        <img src="../../../../../assets/images/app-moq-full.png" alt="img">
                    </span>
                    <span class="applist__item-label">
                        Lorem Ipsum
                    </span>
                </div>
                <div class="applist__item">
                    <span class="applist__item-canvas">
                        <img src="../../../../../assets/images/app-moq-full.png" alt="img">
                    </span>
                    <span class="applist__item-label">
                        Lorem Ipsum
                    </span>
                </div>
                <div class="applist__item">
                    <span class="applist__item-canvas">
                        <img src="../../../../../assets/images/app-moq-full.png" alt="img">
                    </span>
                    <span class="applist__item-label">
                        Lorem Ipsum
                    </span>
                </div> -->
                
            </div>
        </div>
        <div class="custom-modal__content__footer text-right">
            <button class="btn">Cancel</button>
            <button class="btn btn-success" (click)="createApp()">Next</button>
        </div>
    </form>
</div>
