    <header class="header">
        <div class="header__tool-bar">
            <div class="header__tool-bar__brand">
                <span class="header__tool-brand__container">
                    BRAND
                </span>
            </div>
            <div class="header__tool-bar__container">
                <button class="btn header__tool-bar_button-success">
                    Create an app
                </button>
                <div class="header__tool-bar__profile">
                    <span class="header__profile_name">John Doe</span>
                    <span class="header__profile_picture"></span>
                </div>
            </div>
        </div>
    </header>
