<div class="content">
    <div class="content__heading">
        <h3 class="content__heading_title">Apps</h3>
        <div class="content__heading_search">
            <span class="content__heading_search_icon">
                <img src="../../../../../assets/images/icons/icon_search@3x.svg" alt="search">
            </span>
            <input type="text" class="form-control content__heading_searc_field">
            <span class="content__heading_search_icon content__heading_search_icon-right">
                <img src="../../../../../assets/images/icons/close_small@3x.svg" alt="">
            </span>
        </div>
    </div>
    <div class="content__separator content__separator-35"></div>
    <div class="content__recent-app">
        <div class="content__recent-app_heading">
            <h4 class="content__recent-app_heading_title">
                    Recent Apps
            </h4>
        </div>
        <div class="content__apps-list">
            <div class="content__apps-list_app">
                <div class="content__apps-list_app_thum">
                    <img src="../../../../../assets/images/app-moq.png" class="img-responsive" alt="CB Lead Form Q2">
                </div>
                <div class="content__apps-list_app_footer-note">
                    <span class="content__apps-list_app_footer-note_title">
                        CB Lead Form Q2
                    </span>
                    <span class="content__apps-list_app_footer-note_date">4-13-17</span>
                </div>
            </div>
            <div class="content__apps-list_app">
                <div class="content__apps-list_app_thum">
                    <img src="../../../../../assets/images/app-moq.png" class="img-responsive" alt="CB Lead Form Q2">
                </div>
                <div class="content__apps-list_app_footer-note">
                    <span class="content__apps-list_app_footer-note_title">CB Lead Form Q2</span>
                    <span class="content__apps-list_app_footer-note_date">4-13-17</span>
                </div>
            </div>
            <div class="content__apps-list_app">
                <div class="content__apps-list_app_thum">
                    <img src="../../../../../assets/images/app-moq.png" class="img-responsive" alt="CB Lead Form Q2">
                </div>
                <div class="content__apps-list_app_footer-note">
                    <span class="content__apps-list_app_footer-note_title">CB Lead Form Q2 asdjhajksdhas</span>
                    <span class="content__apps-list_app_footer-note_date">4-13-17</span>
                </div>
            </div>
            <div class="content__apps-list_app content__apps-list_app-empty">
                <div class="content__app-list_app-dropzone">
                    <i class="content__app-list_app-dragable_icon">
                        <img src="../../../../../assets/images/icons/plus_small@3x.svg" alt="Add App" width="30px">
                    </i>
                    <span class="content__app-list_app-dragable_label">Drag an app </span>
                    <span class="content__app-list_app-dragable_label">to pin it </span>
                </div>
            </div>
        </div>
    </div>
    <div class="content__separator content__separator-5"></div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>App name</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Events</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Gembuck</a></td>
                    <td>disabled</td>
                    <td>09/15/2014</td>
                    <td>
                        <span class="table__event_status table__event_status-danger"></span>
                    </td>
                    <td>Me</td>
                </tr>
                <tr>
                    <td><a href="#">TreeFlex</a></td>
                    <td>active</td>
                    <td>04/20/2016</td>
                    <td>
                        <span class="table__event_status table__event_status-success"></span>
                    </td>
                    <td>Me</td>
                </tr>
                <tr>
                    <td><a href="#">Alpha</a></td>
                    <td>disabled</td>
                    <td>01/31/2016</td>
                    <td>
                        <span class="table__event_status table__event_status-danger"></span>
                    </td>
                    <td>skrol2</td>
                </tr>
                <tr>
                    <td><a href="#">Byteard</a></td>
                    <td>active</td>
                    <td>11/23/2016</td>
                    <td>
                        <span class="table__event_status table__event_status-success"></span>
                    </td>
                    <td>Me</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
