<div class="dashboard__editorzone__page_content_node dashboard__editorzone__page_content_node-empty" dnd-droppable (onDropSuccess)="addElement($event)">
    <span *ngIf="tab.elements.length <= 0">Drag app elements you want to add here.</span>
    <div *ngFor="let droppedElement of tab.elements; let i=index">
        <app-element-container 
            [element] = "droppedElement"
            (onEdit)="showProperties($event)"
            (onDuplicate)="duplicateElement($event)"
            (onDelete)="deleteElement($event)">
        </app-element-container>
    </div>
</div>
