/* body{
    background: #F4F4F5 !important;
    padding-top: 0px !important;
} */
.dashboard {
    margin-left: 200px;
    padding: 0px;
    position: absolute;
    top: 64px;
    right: 0px;
    left: 0px;
    bottom: 0;
    overflow: hidden;
    background: #F4F4F5 !important
}

.dashboard__heading {
    padding: 40px 40px 0px 40px;
    background: white;
    border-bottom: 1px solid #D3D5D9;
}

.dashboard__heading_title {
    margin: 0;
	color: #606060;
	font-size: 36px;
	font-weight: 300;
	line-height: 43px;
}

.dashboard__container{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 138px
}
.dashboard__container > * {
    flex: 1;
}

.dashboard__sidebar {
    float: right;
    height: 100%;
    max-width: 283px;
    border-left: 1px solid #D3D5D9;
    background-color: #FFFFFF;
    position: relative;
    overflow-y: scroll;
}

.dashboard__editorzone {
    height: 100%;
    position: relative;
}

.dashboard__editorzone__page {
    margin: 20px;
    display: block;
    clear: both;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    bottom: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 66px;
    overflow-y: scroll;
}

.dashboard__sidebar__section__content {
    display: none;
}
.dashboard__sidebar__section__content input,
.dashboard__sidebar__section__content select,
.dashboard__sidebar__section__content textarea,
.dashboard__sidebar__section__content table td{
    border: 1px solid #A7ACB4 !important;
    background-color: #ffffff;
    border-radius: 0px !important;
}
.dashboard__sidebar__section-active .dashboard__sidebar__section__content{
    display: block;
    padding: 10px;
    position: relative;
}

.dashboard__sidebar__section > .dashboard__sidebar__section-link {
    display: block;
    clear: both;
    color: #4F5968;
    padding: 10px 18px;
}
.dashboard__sidebar__section{
    border-bottom: 1px solid #D3D5D9;
}

.dashboard__sidebar__section-active > .dashboard__sidebar__section-link{
    display: none;
}

.dashboard__sidebar__section__content_box_block {
    flex: 1;
    position: relative;
}
.dashboard__sidebar__section__content_box_block:hover:before{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    margin: auto;
    z-index: 1;
}
.dashboard__sidebar__section__content_box_block + .dashboard__sidebar__section__content_box_block:after{
    content: " ";
    width: 2px;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
}
.dashboard__sidebar__section__content_box > *{
    margin-bottom: 2px;
    background-color: #F4F4F5;
    padding: 8px;
    flex: 1;
}
.dashboard__sidebar__section__content_box_block textarea{
    max-height: 76px;
}

.dashboard__sidebar__section__content-link {
    padding: 8px;
    padding-top: 0px;
    display: block;
    clear: both;
}

.dashboard__sidebar__section__content_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}
.dashboard__sidebar__section__content_box:last-child > .dashboard__sidebar__section__content_box_block{
    margin-bottom: 0px;
}
.dashboard__sidebar__section__content_box_block_label {
	color: #4F596A;
	font-size: 12px;
	line-height: 15px;
}
.dashboard__sidebar__section__content_box_block table{
    clear: both;
    margin-bottom: 0;
    width: 100%;
}
.dashboard__sidebar__section__content_box_block table td{
	height: 20px;
    padding: 0 !important;
	border: 1px solid #A7ACB4;
	background-color: #FFFFFF;
}

.dashboard__editorzone__page_tabs {
    display: block;
    width: 100%;
    clear: both;
    float: left;
}
.dashboard__editorzone__page_tabs-option{
    display: inline-block;
    padding: 10px 14px;
    border-right: solid 1px #ccc;
    color: #4F5968;
    background-color:white;
    position: relative;
    height: 40px;
    float: left
}
.dashboard__editorzone__page_tabs-option:hover{
    background: #ebebeb;
}
.dashboard__editorzone__page_tabs-option:not(.dashboard__editorzone__page_tabs-option-active):last-child{
    border-right:none;
}

.dashboard__editorzone__page_content {
	border-top: 1px solid #D3D5D9;
    padding: 20px;
    float: left;
    width: 100%;
}
.dashboard__editorzone__page_tabs-option-active:after{
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2px;
    background-color: #fff;
}

.dashboard__editorzone__bottomtabs {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #ccc;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    flex-direction: row;
    
}
.dashboard__editorzone__bottomtabs_tab{
    flex: 1;
    padding: 10px;
	height: 45px;
	border: 1px solid #D3D5D9;
	background-color: #EFF0F1;
}

.dashboard__editorzone__bottomtabs_tab_icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    background: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    position: absolute;
}

.dashboard__editorzone__bottomtabs_tab_label {
    float: left;
    color: #4F5968;
    width: 100%;
    padding-left: 30px;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -mo-box-orient: vertical;
    -o-box-orient: vertical;
    overflow: hidden;
}

.dashboard__editorzone__bottomtabs_tab-active {
    border-color: #EFF0F1;
    flex: 1;
}

.dashboard__editorzone__page_tabs-option_preview {
    float: right;
    color:#228BD8;
}

.dashboard__editorzone__page_tabs-option_add {
    border-right: none;
}

.dashboard__editorzone__page_content_node {
	background-color: #FBFBFC;
    display: block;
    padding: 25px;
    text-align: center;
    color:#A7ACB4;
    font-weight: 400;
    min-height:73.5px;
    position: relative;
}
.dashboard__editorzone__page_content_node-empty {
    border: 1px solid transparent;
    background: linear-gradient(#FBFBFC, #FBFBFC) padding-box, repeating-linear-gradient(45deg, #D3D5D9 0, #D3D5D9 30%, transparent 0%, transparent 60%) 0 / 1.2em 1.2em;
    box-shadow: none;
}
.dashboard__editorzone__page_content_node-active{
	background-color: #228BD8;
    background: linear-gradient(#F4F9FD, #F4F9FD) padding-box, repeating-linear-gradient(45deg, #228BD8 0, #228BD8 30%, transparent 0%, transparent 60%) 0 / 1.2em 1.2em;
    box-shadow: none;
}

.dashboard__editorzone__page_content_node-fill {
    text-align: left;
    font-weight: normal;
    border: 1px solid #228BD8;
}
.dashboard__editorzone__page_content_node-fill >*{
    display: block;
}
.dashboard__editorzone__page_content_node-fill > label {
    font-weight: normal;
    color: #434B59;
}