/*HEADER__BEM_COMPONENT*/

.header {
    height: 64px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 2;
}

.header__tool-bar__brand {
    height: 64px;
    width: 200px;
    max-width: 200px;
    background-color: #9CC927;
    position: relative;
}

.header__tool-bar__profile,
.header__tool-bar__brand,
.header__tool-bar_button-success,
.header__tool-bar-breadcrumb{
    display: inline-block;
}
.header__tool-bar-breadcrumb{
    float: left !important;
    padding: 22px
}

.header__tool-bar-breadcrumb > a{
	height: 17px;
	color: #434B59;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}

.header__tool-bar_button-success {
    height: 35px;
    width: 130px;
    background-color: #9CC927;
    color: white;
    margin: 13px 0;
}

.header__tool-bar_button:hover {
    color: white !important;
    text-decoration: none;
}

.header__tool-bar__profile {
    height: 64px;
    line-height: 440%;
    min-width: 130px;
    float: right;
    text-align: right;
    position: relative;
    border-left: solid 1px #ccc;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 70px;
}

.header__tool-bar {
    display: flex;
    flex-direction: row;
}

.header__tool-bar>* {
    flex: 1;
}

.header__profile_picture {
    width: 36px;
    height: 36px;
    background: #ccc;
    display: block;
    border-radius: 50%;
    float: right;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    background-image: url('../images/profile.jpg');
    background-size: cover;
    background-position: center center;
}

.header__tool-bar__container {
    display: block;
    float: right;
    text-align: right;
}

.header__tool-brand__container {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    display: block;
    height: 26px;
    text-align: center;
    color: white;
    font-size: 1.3em
}

.header__profile_name {
    color: #606060;
}

.header__profile_name_tooltip {
/*    height: 146px;	*/
    width: 192px;	
    border: 1px solid #D3D5D9;	
    border-radius: 2px;	
    background-color: #FFFFFF;	
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    display: block;
    overflow: hidden;
    position: absolute;
    right: 20px;
    line-height: 130%;
    text-align: left;
}
.header__profile_name_tooltip >*{
    display: block;
    clear: both;
    float: left;
    width: 100%;
    padding: 14px;
}

.header__profile_name_tooltip-email {
    font-size: 11px;
    color: #ccc;
    display: block;
}

.header__profile_name_tooltip-option {
    display: block;
    clear: both;
    padding: padding 14px;
}

.header__profile_name_tooltip-option-separator {
    border-top:1px solid #D3D5D9;
}

.header__profile_name_tooltip > a{
    color: #4F596A;
    font-size: 14px;
}

.header__profile_name_tooltip-box > a{
    color: #228BD8;
}

.header__tool-bar-breadcrumb_separator {
    font-size: 10px;
    color:#A7ACB4;
}
